<div class="gallery__section-container">
    <h3>
        {{ section.settings.title }}
    </h3>
    <div class="gallery__inner-container"></div>
    {% for block in section.blocks %}
        <div class="gallery__image-container">
            <img src="{{ block.settings.image | img_url: "master" }}"/>
        </div>
    {% endfor %}
</div>

<style>
    .gallery__inner-container {
        display: flex;
    }

    .gallery__inner-container img {
        width: 30%;
    }
</style>

{% schema %}
{
    "name": "Gallery Images",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Enter title",
            "default": "Gallery Section"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "images",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "000 x 000px recommended"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Gallery Images",
            "category": "Image"
        }
    ]
}
{% endschema %}